.item_details_wrapper{
  display: flex;
  padding-top: 1rem;
}
.item_image_wrapper{
  width: 26vw;
  min-width: 16rem;
}
.item_image_wrapper img{
  width: 100%;
}
.item_details{
  position: relative;
  margin-left: 2rem;
  min-height: 22rem;
}
.middle_details_wrapper{
  margin-top: 1rem;
}
.item_details h1{
  font-size: clamp(1.618rem, 5vw, 3.236rem);
}
.item_description{
  margin-right: 3rem;
  font-size: clamp(1rem, 3vw, 1.618rem)
}
.item_price{
  padding-top: clamp(1rem, 5%, 4rem);
  font-size: clamp(1rem, 3vw, 1.618rem);
}
.item_discounted_price{
  font-size: 1rem;
  color: red;
  text-decoration: line-through;
}
.item_details h2{
  font-size: clamp(1rem, 3vw, 1.618rem);
  padding: 1.5rem 0;
}
.bottom_details_wrapper button{
  background-color: var(--secondary-primary);
}
.analytic_data_wrapper{
  margin-top: 2.5rem;
}
.time_frame_wrapper{
  margin: 1.5rem 0;
  font-size: 1.175rem;
}
.inline_label_input{
  display: inline-block;
  margin-right: 3rem;
}
.inline_label_input input{
  padding: 4px 24px;
  border: 1px solid #aaa;
  border-radius: 4px;
  font-size: 1rem;
  background-color: var(--background-color);
  transition: background-color 0.5s ease;
}
.text_details_wrapper p{
  font-size: 1.175rem;
  padding: 0.1rem 0;
}
.inline_buttons{
  position: fixed;
  bottom: 2rem;
  right: 2rem;
}
.primary_button{
  position: static;
  padding: 0.5rem 3.5rem;
  margin-right: 1rem;
}
@media (max-width: 600px) {
  .item_details_wrapper{
    display: block;
  }
  .item_image_wrapper{
    margin: 1rem auto;
    width: 90%;
  }
  .bottom_details_wrapper{
    position: static;
  }
}