.secondary_header{
	width: 100%;
	display: flex;
  justify-content: center;
  align-items: center;
  margin: 24px 0;
  margin-top: 104px;
}
.secondary_header div{
	margin-right: 16px;
	margin-left: auto;
}
.header_input div{
  display: inline-block;
  margin: 8px 32px;
}
.secondary_header select {
  min-width: 256px;
  padding: 12px 20px;
  margin: 8px 32px;
  display: inline-block;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 1rem;
  box-shadow: var(--card-box-shadow);
  background-color: var(--background-color);
  transition: background-color 0.5s ease;
}
.secondary_header input[type=text]{
  width: 24vw;
	min-width: 256px;
	padding: 12px 20px;
	border-radius: 4px;
	box-sizing: border-box;
	font-size: 1rem;
	box-shadow: var(--card-box-shadow);
  background-color: var(--background-color);
  transition: background-color 0.5s ease;
}
.secondary_header input:focus {
  outline: none; /* Remove the default focus outline */
}
.search_icon{
	display: inline-block;
	width: 28px;
	height: 28px;
	position: relative;
	margin-left: -36px;
	margin-bottom: -10px;
	fill: var(--icon-color);
}
.role_label{
	padding: 1rem 0;
	font-size: 1.618rem;
}
table {
  border-collapse: collapse;
  width: 100%;
}

table td, table th {
  border-bottom: 1px #dadada solid;
  width: 20%;
  padding: 2rem;
  text-align: center;
}
table td a {
	color: teal;
}
table .column_with_image{
	position: relative;
}
table .column_with_image .column_left_image{
  position: absolute;
  top: 50%;
  left: 1rem;
  transform: translateY(-50%);
	width: 3.5rem;
	height: 3.5rem;
	object-fit: cover;
	border-radius: 50%;
}

table th {
  background-color: #00000008;
}
.role_label{
  font-size: 1.350rem;
  margin-left: 16px;
}
.secondary_table .role_label{
	padding: 2rem 0;
}
.page_nav_container {
	margin: 4rem 0;
	width: 100%;
	text-align: center;
	cursor: pointer;
}

.page_box {
	display: inline-block;
	border: 1px #283217 solid;
	border-radius: 1rem;
	padding: 1rem 0;
	width: 3rem;
	text-align: center;
	margin: 0 0.5rem;
	background-color: #00000000;
	cursor: pointer;
}
table td input[type="submit"] {
	padding: 0.7rem 1rem;
	display: inline-block;
	margin: 0.350rem;
	border-radius: 0.5rem;
	cursor: pointer;
	background-color: var(--secondary-primary);
}
	.page_box:active {
		color: teal;
	}

.page_index_box {
	color: white;
	background-color: #283217;
}

#empty_box {
	text-align: left;
}

#empty_box {
	margin: 4rem;
	margin-top: 3rem;
}

	#empty_box h3 {
		font-size: 38px;
		font-weight: 700;
		font-family: "RobotoC";
		text-transform: uppercase;
		font-family: "AdihausDIN",sans-serif;
	}

	#empty_box p {
		font-size: 18px;
		line-height: 1.4;
		margin-top: 60px;
		margin-bottom: 82px;
	}

	#empty_box div {
		border-radius: 0;
		line-height: 50px;
		min-height: 50px;
		padding: 0 21px;
		margin: 10px 0;
		text-align: left;
		text-decoration: none;
		text-transform: uppercase;
		transition: transform 0.2s;
		white-space: nowrap;
		min-width: 168px;
		max-width: 500px;
		font-size: 13px;
		font-weight: 700;
		letter-spacing: 2px;
		font-family: "AdihausDIN",sans-serif;
		color: var(--special-text-color);
		background-color: var(--special-btn-color);
	}

		#empty_box div:hover {
			color: var(--text-color);
			background-color: var(--secondary-primary);
		}